<div class="row">
  <div class="col-md-12">
    <header>
      <h1 class="text-center">Парсер сайтов:</h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item"><%= link_to 'Парсим bash.im', parser_scraperbash_path %></li>
      <li class="list-group-item"><%= link_to 'Парсим arduino.ru/projects', parser_scraperarduino_path %></li>
      <li class="list-group-item"><%= link_to 'Парсим yaplakal.com', parser_scraperyaplakal_path %></li>
    </ul>
  </div>
</div>



<br>

<br>
