<div class="row">
  <div class="col-md-12">
    <header>
      <h1 class="text-center">Цитатник рунета:</h1>
    </header>
  </div>
</div>

<% @bash.each do |bash| %>

    <div class="row">
      <div class="col-md-12">
        <% bash.children.each do |t| %>
            <% if(t.text).present? %>
                <br>
            <% end %>

            <%= t.text %>

        <% end %>
      </div>
    </div>

<% end %>